*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;

}
.submain{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container{
    
}